// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

// Components
@import "bgColor.less";
@import "iPhone.less";
@import "iPad.less";
@import "macbook.less";
@import "owl.less";
@import "screenList.less";
@import "elt_icoBurger.less";
@import "nav_main.less";
@import "mainNavZone.less";
@import "hexagon.less";
@import "loader.less";

/* FONT */
h2, .h2 {
	text-transform: uppercase;
}
h3, .h3 {
	font-weight: 100;
	text-transform: uppercase;
}
h4, .h4 {
	text-transform: uppercase;
}

.responsiveScreenZone {
	position: relative;
	height: 400px;
  overflow: hidden;
	.iPhoneConf("black", 70px);
	.iPadConf("black", 170px);
	.macbookConf(400px);
	.iPad, .iPhone, .macbook {
		position: absolute;
		bottom: 0;
	}
	.iPhone {
		left: 20%;
		z-index: 1;
	}
	.iPad {
		bottom: 15px;
		left: 24%;
	}
	.macbook {
		left: 35%;
	}
}

.scn_illustration {
	padding: 40px 0 60px 0;
}

/* Illustration zone */
.illZone {
	//background: aqua;
	margin-bottom: 30px;
}

.fullLoader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 9999;
}

.side_summary {
	//color: #fff;
	padding-top: 15px;
	//padding-bottom: 15px;
	.summaryZone {
		@media (min-width: @screen-md-min){
			position: absolute;
			bottom: 0;
			padding-bottom: 70px;
			padding-right: 100px;
		}
		padding-bottom: 30px;
		.titleZone {
		}
		.summary {
			font-family: @font-family-serif;
			&:after {
				content: " ";
				display: block;
				background: @text-color;
				height: 5px;
				width: 70px;
				margin: 15px 0 30px 0;
			}
		}
	}

}

