// Core variables and mixins
@import "../bootstrap/variables.less";
@import "../bootstrap/mixins.less";

/* FONT */
h2, .h2 {
	text-transform: uppercase;
}
h3, .h3 {
	font-weight: 100;
	text-transform: uppercase;
}



.iPhoneSize(@widthScreen: 200px, @heightScreen: round((@widthScreen * 1.84466019))) {
	.iPhone {
		width: @widthScreen;
		height: @heightScreen;
	}
}
// Default size iPhone
.iPhoneSize();

.iPhone {
	background-image: url(../iPhone.png);
  background-size: cover;
  background-repeat: no-repeat;
	position: relative;
	margin: 30px auto;
	.screen {
		background: #1f1e1f;
		position: absolute;
		top: 13.1%;
		right: 14.5%;
		bottom: 17%;
		left: 13.1%;
		overflow-y: auto;
		overflow-x: hidden;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    &::-webkit-scrollbar {
    	display: none;
    }
		text-align: center;
		img {
			width: 100%;
		}
	}
}

.smartPhone {
	width: 375px;
	height: 667px;
	background: #333;
	border:20px solid #e4e4e4;
	margin: 30px auto;
}

.bgColor {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	left: 40%;
}
.side_summary {
	background: #fff;
	.summaryZone {
		position: absolute;
		bottom: 0;
		margin-bottom: 30px;
		padding-right: 15px; // fix padding 
		.titleZone {
		}
		.summary {
			font-family: @font-family-serif;
			&:after {
				content: " ";
				display: block;
				background: @text-color;
				height: 5px;
				width: 70px;
				margin: 15px 0 30px 0;
			}
		}
	}

}
