body {
	@media (min-width: @screen-md-min) {
		#bgColor {
			position: fixed;
			right: 0;
			top: 0;
			bottom: 0;
			left: 40%;
			.transition(.6s cubic-bezier(0, 0, 0.2, 1) all);
		}
		.side_summary {
			background: #fff;
			color: @text-color;
			padding-left: 50px;
			padding-top: 0px;
		}
		.sectionZone {
			background:none !important;
			.side_summary {
				background: none !important;
			}
		}
	}
}

/*********************************************
	MIXIN
*********************************************/
.bgSection(@section, @bg_section) {
	#@{section} {
		background: @bg_section;
		.side_summary {
			background: rgba(255,255,255, .9);
		}
	}
	body.@{section} #bgColor {
		background: @bg_section;
	}
}

.bgSection(scn_carrefourApp, #0079bc);
.bgSection(scn_heliairApp, #ed1922);
.bgSection(scn_processMobile, #0478B4);
.bgSection(scn_glyphunger, #323232);
.bgSection(scn_process, #018fc6);
.bgSection(scn_platform, #1783CA);
.bgSection(scn_clients, #315961);
.bgSection(scn_orchestra, #1d78b9);

